.contenedor{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;

    label{
        font-size: 14px;
        font-family: "Sohne-Light", system-ui, sans-serif;
    }

    input[type="text"], input[type="email"], input[type="password"]{
        display: inline-block;
        width: 384px;
        height: 48px;
        border: 1px solid var(--gris-03);
        border-radius: 999px;
        padding: 0 16px;
        font-size: 14px;
        font-family: "Sohne-Light", system-ui, sans-serif;
        color: var(--gris-03);

        &:focus {
            outline: none;
            border: 1px solid var(--gris-03);
        }
    }

    svg{
        cursor: pointer;
        position: relative;
        left: 340px;
        bottom: 39px;
        color: var(--gris-03);
    }
}