.loop {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  width: var(--btn-width, 224px);
  padding: 8px;
  border-radius: 1000px;
  color: var(--color-03);
  background-color: var(--color-09);
  border: 1px solid var(--color-07);
  font-size: 14px;

  &:hover {
    cursor: pointer;
    border: 1px solid var(--color-03);

    transition: border-color 0.3s ease;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--gris-08);
    border: 1px solid var(--gris-03);
  }
}
